body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}



#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: darkslategray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#navbar div {
  padding: 5px;
}

#post {
  border: 2px solid black;
  display:flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}


.loginForm{
  display:flex;
  justify-content: center;

}

#username{
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

#password{
  display:flex;
  justify-content: center;
  margin-bottom: 10px;
}

h1{
  display: flex;
  justify-content: center;
}

#logInBtn{
  display: flex;
  justify-content: center;
  width: 147px;
  background-color: white;
  color: red;
  font-family: fantasy;
  align-items:center;
}

#logInBtn:hover{
  cursor: pointer;
  background-color: silver;
  color: blue;
}
